# Electron 镜像
ELECTRON_MIRROR="https://npmmirror.com/mirrors/electron/"
electron_mirror="https://npmmirror.com/mirrors/electron/"

# Electron Builder 镜像
electron_builder_binaries_mirror="https://npmmirror.com/mirrors/electron-builder-binaries/"

# ChromeDriver 镜像
chromedriver_cdnurl="https://npmmirror.com/mirrors/chromedriver/"
